a {
    list-style: none;
    text-decoration: none;
}

#header {
    height: 56px;
    width: 100%;
    /* background: #0f0f0f; */
    color: #000;
}

#header table {
    width: 100%;
    height: 56px;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    vertical-align: middle;
}

#header td {
    text-align: center;
    vertical-align: middle;
}

#header .searchbox {
    width: 540px;
    height: 40px;
    border: none;
    border: 1px solid #aaa;
    border-radius: 40px 0 0 40px;
    padding: 0;
    margin: 0;
}

::placeholder {
    font-size: 1rem;
    padding-left: 15px;
}

#header .searchicon {
    width: 60px;
    height: 42px;
    border: none;
    border: 1px solid #aaa;
    border-radius: 0 40px 40px 0;
    padding: 0;
    transform: translate(-5px, -1px);
}

#header td:nth-child(1) {
    width: 5%;
}

#header td:nth-child(2) {
    width: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2;
    text-align: left;
}

#header td:nth-child(3) {
    width: 76%;
}

#header td:nth-child(4) {
    width: 3%;
}

#header td:nth-child(5) {
    width: 3%;
}

#header td:nth-child(6) {
    width: 3%;
}

#bars {
    height: calc(100vh - 56px);
    width: 240px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

#bars ul {
    padding: 0 8px;
}

#bars a {
    width: 180px;
    height: 40px;
    color: #000;
    display: block;
    padding: 0 12px;
    line-height: 42px;
}

#bars a:hover {
    background-color: #f2ecec;
}

.icon_left {
    font-size: 20px;
    margin-right: 20px;
}

#tags {
    height: 56px;
    width: calc(100% - 240px);
    float: right;
    overflow: hidden;
}

#tags .tagsbut {
    background-color: #f6f2f2;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Microsoft JhengHei";
    padding: 6px 12px;
    margin: 17px 12px 17px 0;
    cursor: pointer;
}

#tags .tagsbut:hover {
    background-color: #e2dddd;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Microsoft JhengHei";
    padding: 6px 12px;
    margin: 17px 12px 17px 0;
    cursor: pointer;
}

#tags .blackbut {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft JhengHei";
    padding: 6px 12px;
    margin: 17px 12px 17px 0;
    cursor: pointer;
}

#main {
    height: calc(100vh - 112px);
    width: calc(100% - 240px);
    float: right;
}

#main #videos {
    width: 1500px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

#main #videos .video_title {
    /* font-weight: bold; */
    font-size: 16px;
}

#main #videos .video_info {
    font-size: 14px;
    color: #606060;
}

#main table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#main img {
    border-radius: 10px;
    margin-bottom: 10px;
}

#main tr:nth-child(2) img {
    float: left;
}

#main span {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}